@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: Manrope;
}

img {
  height: auto;
  width: auto;
  object-fit: contain;
  object-position: top center;
}


.objCover {
  object-fit: cover;
}

.loadingContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  display: flex;
  flex-direction: column;
}

.loadingContent img {
  width: 140px;
  height: 100%;
}

.model,
#container3d_replace {
  width: 100vw;
  height: 100vh;
}

.color-picker-heading {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #121010;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .color-picker-heading {
    width: 80%;
  }
}

input[type="radio"]:checked::before {
  content: '' !important;
  display: inline-block !important;
  width: 100% !important;
  height: 100% !important;
  background-color: black !important;
  border-radius: 50% !important;
}